.option{
    border: 2px solid #444444;
    width: 75%;
    min-height: 10vh;

    margin-bottom: 5vh;

    display: flex;
    flex-direction: column;
}

.ractangle{
    background-color: #444444;
    color: #fdfdfd;
    width:100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cont > p{
    margin: 0.8vh;
    padding: 0;
}

.cont > p > a{
    color: #444444;
    font-size: 1.5vh;
}

