/* news */

div.news{
    margin-left: 0vw;
}

div.news > form{
    display: flex;
    flex-direction: column;
}

div.news > form > textarea{
    color: #444444;
    max-width: 30vw;
    min-width: 30vw;
    max-height: 10vh;
    min-height: 10vh;
    padding: 1vh 1vw;
    border: 2px solid #444444;
    border-radius: 2vh;
    margin-bottom: 1vh;
}

div.news > form > input[type='submit']{
    background-color: #444444;
    color: #fdfdfd;
    width: 15vw;
    height: 3vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
    border-radius: 1.5vh;
    cursor: pointer;
}

.news-tools{

    margin-left: 2vw;
    width: 4vh;
    height: 4vh;
}

.news-tools > form > input{
    background-color: #cc2222;
    color: #fdfdfd;
    border: none;
    border-radius: 1vh;
    width: 4vh;
    height: 4vh;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

section.options > a.admin-nav{
    background-color: #cc2222;
    color: #fdfdfd
}