html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background-color: #fdfdfd;
    font-family: 'Cambria Math' !important;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section.content{
    margin-left: 10vw;
    width: 92%;
}

.messages{
    padding: 0;
    margin: 0;
}
main.container{
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
}

div.title{
    width: 100%;
    height: 10vh;
    margin-bottom: 4vh;
}

div.title > h1{
    color: #444444;
    font-size: 8vh;
    margin: 4vh 4vw;
}

section.nav{
    background-color: #44cc44;

    width: 20%;
    height: 100%;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.who{
    width: 100%;
}

section.who > h2{
    color: #fdfdfd;
    font-size: 2.7vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0vw;
    margin-top: 2vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.options > a{
    color: #444444;
    text-decoration: none;

    min-height: 5vh;
    width: 15vw;
    background-color: #fdfdfd;

    font-size: 1.2vw;
    margin: 0.4vw;
    padding: 0;

    border:none;
    border-radius: 2.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

section.options > a.log{
    color: #fdfdfd;
    background-color: #444444;
}

p.down{
    color: #222;
    font-size: 0.6vw;
    position: absolute;
    bottom: 0;
}

p.small{
    margin: 0;
    padding: 0;
    color: #fdfdfd;
    font-size: 2.2vh;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    font-size: 700;
    margin-bottom: 2vh;
    width: 100%;
    padding-left: 2vw;
}

