li{
    color: #444444;
    font-size: 2.5vh;
    font-weight: 700;
    width: 80%;
}

li > p {
    font-weight: 400;
    text-align: justify;
}


a.supp-butt{
    text-decoration: none;
    color: #fdfdfd;
    background-color: #444444;
    height: 2vh;
    border: 2px solid #444444;
    border-radius: 2vh;
    padding: 1vh;
}