.news{
    width: 90%;
    height: 12vh;
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

div.square{
    background-color: #444444;
    width: 10vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #444444;
}

div.square > p{
    color: #fdfdfd;
    font-size: 1.6vh;
    padding: 0;
    margin: 0;
}

section.news-content{
    width: 70%;
    height: 10vh;
    border-bottom: 2px solid #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.news-content > p{
    text-align: justify;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.8vh;
    margin: 0;
}

section.news-content > p.author{
    font-size: 1vh;
    text-align: right;
    
}
