.table{
    border: 2px solid #444444;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

p{
    margin: 0;
    padding-top: 0.2vh;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4vh;
}

.nick{
    width: 60%;
    height: 100%;
    border-bottom: 2px solid #444444;
    display: flex;
    align-items: center;
}

.nick > p{
    font-size: 3vh;
    padding-left: 2%;
}

.field{
    width: 20%;
    height: 100%;
    border-bottom: 2px solid #444444;
    border-left: 2px solid #444444;
    display: flex;
    align-items: center;
}

.field > p{
    padding-left: 2%;
}

.dark{
    background-color: #444444;
    color: #fdfdfd;
}

.cont{
    min-height: 20vh;
}

.butt{
    color: #fdfdfd;
    background-color: #444444;
    padding: 1.5vh;
    text-decoration: none;
    border-radius: 2vh;
}

form{
    margin-top: 2vh;
    width: 80%;
}

textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 40vh;
    max-height: 40vh;
    border: 2px solid #444444;
    border-radius: 3vh;
    padding: 1vh 1vw;
    font-size: 1.5vh;
}

input[type='submit']{
    background-color: #444444;
    color: #fdfdfd;
    border-radius: 2vh;
    border: unset;
    padding: 1.5vh;
    width: 4vw;
    
}