.table{
    width: calc(80% + 1px);
    border: 1px solid #444444;

    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.place, .nick, .points, .profile{
    border: 1px solid #444444;
    
}

.place{
    width: 5%;
    color: #fdfdfd;
    background-color: #444444;
}

.nick{
    width: 65%;
}

.points{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{

    background-color: #444444;
    width: 15%;
}

p{
    margin: 0;
    padding: 0.1vh 0.2vw;;
}

a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fdfdfd;
    border: 1px solid #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.inf{
    margin-top: 3vh;
    width: 80%;
}