.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 1.5%;
    border: 2px solid #444444;
    padding: 1%;
}

.recomend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 5vh;
}

form{
    height: 4vh;
}
input[type='text']{
    width: 15vw;
    height: 100%;
    color: #444444;
    border: 2px solid #444444;
    margin: 0;
    padding: 0.5vh;
    font-size: 2vh;
}

input[type='submit']{
    width: 6vw;
    height: 100%;
    color: #fdfdfd;
    background-color: #444444;
    border: 2px solid #444444;
    margin: 0;
    padding: 0.5vh;
    font-size: 2vh;
    border-radius: 2vh;
    margin-left: 1vw;
}

h2{
    color:#444444;
    margin: 2vh;
    font-size: 3vh;
}