.option{
    border: 2px solid #444444;
    width: 75%;
    min-height: 10vh;

    margin-bottom: 3vh;

    display: flex;
    flex-direction: column;
}

.ractangle{
    background-color: #444444;
    color: #fdfdfd;
    width: 10%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    padding: 1vh 1vw;
}

.cont > p{
    font-weight: 700;
    margin: 1vh;
}

.actual{
    font-weight: 400;
}

.cont > form{
    margin-left: 1vh;
}

.cont > form > input[type='text'], .cont > form > input[type='password']{
    border: 2px solid #444444;
    color: #444444;
    border-radius: 2vh;
    width: 12vw;
    height: 2vh;
    padding: 1vh;
    margin-right: 1vw;
}

.cont > form > input[type='submit']{
    color: #fdfdfd;
    background-color: #444444;
    box-shadow: 0 0 10px 0 rgb(0,0,0,0.3);
    border: none;
    border-radius: 2vh;
    width: 6vw;
    height: 4vh;
    
}

div.cont > p.inf{
    font-weight: 400;
    font-size: 1.2vh;

}