body{
    background-color: #fdfdfd;
    font-family: 'Cambria Math';
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* LEFT SIDE*/

.left{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: #444444;
    font-size: 4.5vw;
    padding: 0;
    margin: 2vh 0.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form, .login, .register, .forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > input{
    color: #444;
    width: 16vw;
    height: 4vh;
    padding: 0.1vh 0.6vw;
    margin: 0.5vh 0.3vw;
    border-radius: 2vh;
    border: 2px solid #444444;
}

form > button, input[type='submit']{
    background-color: #44cc44;
    color: #fff;
    font-weight: 700;
    width: 3vw;
    height: 3vw;
    padding: 0;
    margin: 0.6vw;
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 0.25s;
}

form > button:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.log-else{
    color: #444;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.log-else > span{
    cursor: pointer; 
    margin: 0 0.3vw;
}

.log-else > a{
    color: #444;
    text-decoration: none;
}

.register, .forgot{
    display:none;
}

.mess-box{
    height: 3vh;
}
.mess{
    display:none;
    color: red;
    font-size: 2vh;
    text-align: center;
    margin: 0;
}

.messG, .messR{
    color: #44cc44;
    font-size: 2vh;
    text-align: center;
    margin: 0;
}
.messR{
    color: red;
}

/* RIGHT SIDE */

.intro{
    background-color: #44cc44;
    color: #fdfdfd;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.intro > h1{
    font-size: 6vw;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.intro > p{
    font-size: 1.7vw;
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
    margin: 4vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.go-next{
    background-color: #fdfdfd;
    color: #444444;
    font-size: 1.3vw;
    width: 20vw;
    height: 6vh;
    border-radius: 10vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-duration: 0.2s;
}

.go-next:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}