.box{
    border: 2px solid #444444;
    width: 75%;
    min-height: 15vh;

    margin-bottom: 3vh;

    display: flex;
    flex-direction: column;
}

.ractangle{
    background-color: #444444;
    color: #fdfdfd;
    min-width: 10%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    padding: 0 1vw;
    text-align: justify;
}

section.supp > form{
    display: flex;
    flex-direction: column;
 
}

section.supp > form > textarea{
    border: 2px solid #444444;
    color: #444444;
    border-radius: 2vh;
    min-height: 15vh;
    max-height: 15vh;
    min-width: 20vw;
    max-width: 20vw;
    padding: 1vh;
    margin-right: 1vw;
    margin: 0.5vh 1vh;
}


input[type='submit']{
    color: #fdfdfd;
    background-color: #444444;
    box-shadow: 0 0 10px 0 rgb(0,0,0,0.3);
    border: none;
    border-radius: 2vh;
    min-width: 5vw;
    height: 4vh;
    margin: 1vh;
    padding: 0 1vw;
    cursor: pointer;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 3vh;
    background-color: #444444;
    margin: 1vh 0;
    text-decoration: none;
    color: #fdfdfd;
    border-radius: 2vh;
    border: none;
    padding: 0.4vh;
}

h3{
    font-size: 3vh;
    color: #444444
}

.title{
    display: flex;
    justify-self: row;
    align-items: baseline ;
}