section.supp > form{
    display: flex;
    flex-direction: column;
 
}

section.supp > form > input[type='text'], section.supp > form > textarea{
    border: 2px solid #444444;
    color: #444444;
    border-radius: 2vh;
    width: 12vw;
    height: 2vh;
    padding: 1vh;
    margin-right: 1vw;
    margin: 0.5vh 1vh;
}

section.supp > form > textarea{
    min-height: 15vh;
    max-height: 15vh;
    min-width: 20vw;
    max-width: 20vw;
}

section.supp > form > input[type='submit']{
    color: #fdfdfd;
    background-color: #444444;
    box-shadow: 0 0 10px 0 rgb(0,0,0,0.3);
    border: none;
    border-radius: 2vh;
    width: 6vw;
    height: 4vh;
    margin: 1vh;
    cursor: pointer;
}

div.mess{
    color: #44cc44;
}

p{
    font-size: 2vh;
}

a, a:active, a:focus, a:link{
    width: 80%;
    text-decoration: none;
    color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

article.watek, article.watekG{
    background-color: #444444;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.2vh 1vw;
    border-radius: 2vh;    
    border: none;
    margin-bottom: 1vh;
}

article.watek > h2, article.watekG > h2{
    font-size: 2vh;
    width: 80%;
    text-align: left;
}

article.watek > p, article.watekG > p{
    font-size: 1vh;
    width: 20%;
    text-align: right;
}

article.watekG{
    background-color: #44cc44;
}

a.box{
    width: 5vw;
    height: 5vh;
    background-color: #444444;
    color: #44cc44;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2vh;
    margin-bottom: 2vh;
}